.header{
   position: relative;
}

a{
  /*bỏ gạch chân đường link*/
    text-decoration:none;
}
#menu{
	width: 100%;
	height: 35px;
	display: block;
	position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
	top: 0; /*Nằm trên cùng*/
	z-index: 100000; /*Hiển thị lớp trên cùng*/
 
  border-bottom: 1px solid #d2cfcfa3;
  
	
}
.menu_left ul{
  margin: 0;
  padding: 0;


}
.menu_left ul li{
  list-style:none inside;
  width: auto;
  float: right;
  line-height: 35px; /*Cho text canh giữa menu*/
  margin-left:8px;
  margin-right:8px;
  position: relative;
  animation: menu 0.7s ease-out 1; /* hiệu ứng */
  text-shadow: 1px 1px #9d00ff; /*đổ bóng chu */
}
.menu_left ul li a{
  
  white-space: nowrap; /*Cho chữ trong menu không bị wrap*/
  padding: 0 12px;
  color: #fff  ;
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.1em;
}

/* Hover cho submenu */
.menu_left ul li:hover {
   
    border-bottom-width: 2.5px;
    border-bottom-style: solid;
    border-bottom-color: #0db4ff;
    border-radius:2px 2px 2px 2px;

}
/*-------------------------------------- */
.menu_left ul li ul {
  position: absolute;
  width: auto;
  display: none;
  padding-left: 5px;
  background: rgba(0, 0, 0, .6);

}

.menu_left ul li ul li{
  display: block;
  padding:0;
  margin: 0;
  float: none; /*Bỏ float cho li cấp thứ 2*/
}
/* Hover cho submenu */
.menu_left ul li:hover {
  /* Hover thì li sẽ đổi màu*/

  opacity: 0,8;
}
.menu_left ul li:hover ul{
  /*Display ra submenu*/
  display: block;
}


.menu_right
{
    
  font-weight: normal;
  font-size: 38px;
  font-family: Lemonada;
 float: left;
 color:#0F3;

}

/*set thuộc tính baner*/
  
.slide{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  position: static;
  
}
.run {
  display: none;

}


#prev h1{
opacity:0.5;
width:50px;
height:50px;
top: 170px;
animation: prev 0.5s ease infinite;
color: #FFFF;
font-size: 26px;
position: absolute;
  
}
#next h1{
opacity: 0.5 ;
width:50px;
height:50px;
top: 170px;
color: #FFFF;
font-size: 26px;
animation: next 0.5s ease infinite;
position: absolute;
text-align: center;
}
#prev h1:hover{
  
  opacity: 1;
  animation-play-state: paused;
  cursor: pointer;
}
#next h1:hover{
  
  opacity: 1;
  animation-play-state: paused;
  cursor: pointer;
}

/*xử lý animation  */
@keyframes menu 
/*animation cho thanh menu*/
{
    from {
		top: 20px;}
		
    to {top: 0px;}
}
@keyframes prev 

{
  from{left: 30px}
  to{left: 10px;}
}

@keyframes next

{
  from{right: 20px}
  to{right: 0px;}

}

/*div content*/

.content{
  max-width: 80%;
  top: 90px;
  left: 130px;
  position: absolute;
   }
.content span{
  color: #fff;
  font-size: 60px;

  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
}
.content  p{
  color: #cfcbcb;
  font-size: 20px;
  font-family: 'B612 Mono', monospace;
  font-weight: normal;
  text-shadow:0 1px 1px rgba(0,0,0,0.7);
  margin-top: 2%;
  line-height: 30px; 
}
.buttom{
	color: #fff;
	position: absolute;
	top: 85%;
	left: 130px;
	height: 44px;
}
.buttom span {
  border: 1px solid #6dc234;
  border-radius:5px 5px 5px 5px;
 background: #6dc234;
  color: #fff;
  font-weight: normal; 
  opacity: 1;

}

.buttom span:hover {
opacity: 0.8;
  }
