
#footer
{
  background: #222324;
  color: #939393e3;
  
  margin-top: 100px;
  height: 370px;
}
.footer
{
  position: relative;
  max-width: 84%;
  left: 120px;
 
}
.footer span{
  position: absolute;
  font-size: 20px;
  color: white;
  margin-top: 29px;
  

}
.col_1{
	position: absolute;
	font-style: normal;
	left: 0px;
	top: 50px;
}

.col_1 a{
  
  border-bottom: 1px dashed #959595;
  color: #696f7a;
  font-style: oblique;
  line-height: 30px;

}
.col_1 a:hover{

  border-bottom: 1px dashed #0db4ff;
  color:#0db4ff ;

}
.col_1 a:active{
  border-bottom: 1px solid #0db4ff;
}
.col_2
{
	position: absolute;
	left: 27.6%;
	top: 62px;

}
.table li {
border-bottom: 1px dotted #575756;
line-height: 30px;

}
.table  a{
  color: #696f7a;
  opacity: 1;

}
.table a:hover{
  opacity: 0.8;
  border-bottom: 0.6px solid #696f7a;
}

.col_3
{
  position: absolute;
  left:40.6%;
  top: 62px;

}
.col_4 {
  position: absolute;
  left:57%;
  top: 10px;
  border-radius: 5px 5px 5px 5px;
}

.end{
  position: relative;
 top:320px;
width: 100%;
font-size: 20px;
  }
  .end hr
  {
    color:#696f7a; 
  }