main {

    font-family: 'Roboto'; 
}
/*CSS SPECIAL*/
div.title {
    padding-bottom: 30px;
    max-width: 90%;
    left: 94px;
    position: relative;
}

div.title>h1 {
    font: 1.5em sans-serif;
    font-weight: bold;
    color: #ff0c0c;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

div.title button {
    left: 13px;
    top: 2px;
    position: relative;
    line-height: 1.9;
    border-radius: 5px 5px;
    border: none;
    background: linear-gradient(25deg, #27ff008c, #bcf9ffde);
}

.title button a {
    animation: a 0.7s infinite;
    display: block;
}

.title button:hover {
    background: linear-gradient(205deg, #27ff008c, #bcf9ffde);
    box-shadow: 1px -3px 32px #00c4ff9e;
}

.title>button>a:hover {
    animation-name: none;
    color: yellow;
    font-weight: bold;
}

@keyframes a {
    0% {
        color: red;
    }
    100% {
        color: cyan;
    }
}

/*css special silde*/

#special {
    display: -webkit-inline-box;
    margin-left:90px;
    position: relative;
    overflow:hidden ;
    padding: 8px;
}
/*css item*/
.item {
    margin-left: 30px;
    display: table;
    width: 315px;
    border: 0.7px solid #9890907a;
    border-radius: 8px 8px 7px 7px;
    box-shadow: 0px 0px 3px #a48d8d;
    transition: transform 0.8s ease-out ;
}

div.item:first-child{
    margin: 0;
}
div.item:hover {
    box-shadow: 0px 0px 8px #a48d8d;
}


div.item>div.sp_content {
    margin: 6px 0;
    padding-left: 17px;
}

div.sp_content>h1 {
    margin: 10px 0;
}

div.sp_content>h1>a {
    font: 1.22em sans-serif;
    font-weight: bold;
    color: #363c48;
    white-space: nowrap;
}

div.sp_content>h1>a:hover {
    color: #2196f3;
}

div.sp_content>p>a {
    color: #737373;
}

div.sp_content>p>a:hover {
    color: #0e2fda;
}
/*css button view in item*/
.sp-bt-view {
    margin-top: 40px;
    background: #98909026;
    height: 34px;
}

.sp-bt-view button {
    border: none;
    float: right;
    line-height: 1.8;
    word-spacing: 6px;
    margin: -13px 30px;
    background: #09b51e;
    box-shadow: 0px 0px 3px #0d0101c4;
    border-radius: 2px 2px 2px 2px;
}
.sp-bt-view button:hover{
    background:#9932ccfa ;
}
.sp-bt-view button:active {
    background: #7514a5ab;
}
/*css button left right special*/
div.bt-sp{
    position: absolute;
    top: 55%;
    width: 100%;

}

div.bt-sp > i{
  
    top: 46%;
    position: relative;
    background-color: #615757;
    color: #77ecff;
    width: 43px;
    height: 40px;
    font-size: 31px;
    text-align: center;
    line-height: 1.3;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 0px 4px #685f5f;
}

div.bt-sp > i:hover{
    background:#fb630aa6;
    opacity: 1;
}
/*tao hieu ung di chuyen cho special deal*/

.animation-sp{
    transition: transform 0.8s ease-out;
}


/* best- vietnam - tuor -packages*/
.best-vn-tuor{

    width: 80%;
    margin: 0 auto;


}

.best-vn-tuor .item {
    margin-left: 30px;
    display: table;
    width: 34%;
    border: 0.7px solid #9890907a;
    border-radius: 8px 8px 7px 7px;
    box-shadow: 0px 0px 3px #a48d8d;
    
}
.container{
    width: 85%;
    margin: 3% auto;
    line-height: 1.7;
    display: flex;

}
.left-container button {
    border: none;
    line-height: 1.8;
    word-spacing: 6px;
    background: #09b51e;
    box-shadow: 0px 0px 3px #0d0101c4;
    border-radius: 2px 2px 2px 2px;
    margin-top: 8px; 
}
.left-container button:hover{
    background:#9932ccfa ;
}
.left-container button:active {
    background: #7514a5ab;
}
.container  h1{ 
    font-size: 23px;
     font-weight: bold;
     font-family:  sans-serif;
     color: #747473;

}
.fa.fa-check{
    color: #ff5e00;
}
.right-container{
    margin-left: 15%;
    width: 40%;
}

.left-container > ul > li{
    font-family: sans-serif;
    font-size: 18px;
}

.right-container .review{
    border: 1px solid #00a680;
    border-radius: 2px 2px 2px 2px;
    padding: 10px;
}
.right-container p{
    color: #b7b7b7;
    font-size: 11px;
    
}
.right-container hr{
    margin: 2px;
}
.fas.fa-star{
    color: #fee403;
}