.main
{
  
  max-width: 84%;
  left: 120px;
  position: relative;
}

#title{
  font-size: 40px;
  background: #e9eaeb; 
  padding-left: 130px;
}
#titel a{
  width: 10px;
  height: 14px;

}

.back_link{
	
	
	background: #e9eaeb;
	width: 100%;
	height: 35px;
  margin-top: 40px;
  
	font-size: 18px;
	border-radius: 5px 5px 5px 5px;
	line-height: 34px;
}
.back_link a{
  color: #0db4ff;
  opacity: 1;
}
.back_link a:hover{
  opacity: 0.5;
}
.row_1{
  max-height: 200px;
  position: relative;
  margin-top: 40px;
}
.row_2{
  max-height: 200px;
  position: relative;
  margin-top: 40px;
}

.row_3{
  max-height: 200px;
  position: relative;
  margin-top: 40px;
}
.animation_zoom_photo img{

transition: all 1.5s ease;
-webkit-transition: all 1.5s ease;
}
.animation_zoom_photo img:hover{
  transform: scale(1.19,1.19);
  -webkit-transform: scale(1.19,1.19);
}
.info
{
	position: absolute;
	left: 256px;
	top: 0px;
	max-width: 581px;
	height: 161px;
 
}
.info span{
letter-spacing: 1px;
 font-size: 18px;
  line-height: 28px;
  color: #323232;
 
}
.info a{
letter-spacing: 1px;
 font-size: 23px;
  line-height: 28px;
  color:#2a71c5;
}
.info a:hover{
  border-bottom: 1px solid #0db4ff;
  color:#0db4ff ;
}
.price{
	position: absolute;
	left: 843px;
	top: 0px;
  max-width: 120px;
  font-size: 20px;
  

}
.price h1{
  color: red;
  font-size: 30px;
}

.price a{
  color: white;
  font-size: 20px;
  background: green;
  border: 2px solid green;
  border-radius: 5px 5px 5px 5px;
  opacity: 1;

}
.price a:hover{

  color: yellow;
}
