.main {
    max-width: 84%;
    left: 120px;
    position: relative;
    font-size: 20px;
    font-family: Roboto;
    line-height: 28px;
    letter-spacing: 1.1px;
}

#title {
    font-size: 40px;
    background: #e9eaeb;
    padding-left: 130px;
}

#titel a {
    width: 10px;
    height: 14px;
}

.format_form {
    margin-top: 20px;
    position: relative;
}

.align-right {
    text-align: right;
}

.align-left {
    padding-left: 15px;
}